    <footer>
        <ul>

            <li><a href="https://www.instagram.com/roshan21k_/?igshid=MmlzYWVINDQ5Yg"><img src="/static/instagram.png" ></a></li>
            <li><a href="https://github.com/roshan21k"><img src="/static/github.png" class="col"></a></li>
            <li><a href=  "mailto:k.roshan21k@gmail.com"><img src="/static/gmail.png" ></a></li>
        </ul>
    </footer>
    <script src="/app.js"></script>

    
</body>
</html>