<%- include('partials/header.ejs') %>
    <div class="login">

            
            <form action="/add" method="post" >
                <h1>Add your Task Here!</h1>

                <textarea name="todocontent" id="" cols="30" rows="10" required></textarea>

                <button type="submit">Submit</button>
            </form>


</div>
<%- include('partials/footer.ejs') %>